{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('https://i.pinimg.com/474x/8a/d6/66/8ad6664fc27a5c8900d040d7b4ea2d9a.jpg'); /* Set background image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white; /* Set text color to white for better contrast */
        font-family: Arial, sans-serif; /* Specify a font family for better readability */
    }

    .container {
        padding: 100px;
    }

    .meal-block {
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
        border-radius: 10px; /* Rounded corners */
        padding: 20px; /* Padding */
        margin-bottom: 20px; /* Bottom margin */
        transition: transform 0.3s; /* Add transition effect for smoother hover */
    }

    .meal-block:hover {
        transform: translateY(-5px); /* Move block up slightly on hover */
    }

    .meal-block h3 {
        margin-top: 0px; /* Remove top margin for consistency */
    }

    .meal-block p {
        margin-bottom: 20px; /* Add bottom margin to paragraph */
    }

    .meal-block a {
        text-decoration: none; /* Remove underline from links */
        color: white; /* Set link color to white */
        background-color: #007bff; /* Set link background color */
        padding: 10px 20px; /* Add padding to links */
        border-radius: 5px; /* Add rounded corners to links */
        transition: background-color 0.3s; /* Add transition effect for smoother hover */
    }

    .meal-block a:hover {
        background-color: #0056b3; /* Darken link background color on hover */
    }
</style>

<div class="container">
    <h2>HI! What are you looking for?</h2>

    <!-- Meal blocks -->
    <div class="row">
        <div class="col-md-4">
            <div class="meal-block">
                <h3>Breakfast</h3>
                <p>Choose from a variety of healthy breakfast options.</p>
                <a href="" class="btn btn-light">Explore <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="meal-block">
                <h3>Lunch</h3>
                <p>Delicious and nutritious lunch ideas await you.</p>
                <a href="" class="btn btn-light">Explore <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="meal-block">
                <h3>Dinner</h3>
                <p>Discover satisfying dinner recipes for any occasion.</p>
                <a href="" class="btn btn-light">Explore <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Font Awesome CDN -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
